body {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
}

#calculator {
    background-color: rgb(0, 217, 255);
    width: 400px;
    height: auto;
    border-radius: 25px;
    padding: 30px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#displayContainer{
    height: auto;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

#calcDisplay {
    background-color: rgb(112, 128, 141);
    width: 250px;
    min-height: 60px;
    height: auto;
    border-radius: 10px;

    text-align: right;


    flex: 1 0 auto;
    overflow-wrap: break-word;


    font-size: 40px;
    padding: 10px;
}

#calcInteriorContainer {
    display: flex;
    padding: 0px 0px 30px 30px;
    margin-left: -50px;

    width: 300px; 
    height: auto;

    flex-wrap: wrap;
}

.numberButton {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50px;
    color: white;
    background-color: rgb(202, 160, 19);

    font-size: 20px;

    flex: 1 0 auto;

    border: 0px;
}

#operationButtonContainer {
    margin-top: -20px;
    width: 90px;
    display: flex;
    flex-direction: column;
}

.operationButton {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50px;
    color: white;
    background-color: rgb(212, 95, 16);
    border: 0px;

    font-size: 20px;
}

#equals {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50px;
    color: white;
    background-color: rgb(212, 95, 16);
    border: 0px;

    font-size: 20px;
}